{% extends 'main/layout.html' %}


{% block title %}Главная страница{% endblock %}


{% block content %}
{% load static %}
    <div class="features">
    <h1>291 ИБ ФМИ</h1>
    <p>Сайт освещает деятельность 291 группы ФМИ и её участие в различных мероприятиях</p>

    </div>
    <div class="group-photo">
    <video poster="media/files/изображение_2024-11-19_000511041.png" preload="auto" controls src="media/files/Видео_wWr02HI.mp4" alt="Видео группы"></video>
    </div>

<style>
.group-photo video {
    display: block;
    width: 25%;
    height: auto;
    object-fit: cover;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main .features {
    float: left;
    color: #ffff;
    margin-top: 10px;
    text-align: center;
    width: 75%;
}

main .features h1 {
    font-size: 50px;
}

</style>
{% endblock %}